:root {
  --primary-color: #474163;
  --secondary-color: #413857;
  --hover-color: #00c8ff;
  --font-color: #f8f8f8;
  --accent-color: #ff6487;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* TITLE */

#title-container {
  text-align: center;
  padding: 1.5rem 2.5rem;

  border-radius: 15px;
  background: var(--secondary-color);
  color: var(--font-color);

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);

  /* GELIJKE BREEDTE ALS CANVAS */
  width: 500px;
}

#title-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#title-container p {
  font-size: 1rem;
  line-height: 1.5;
}

#title-container a {
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: underline;
}

#title-container a:hover {
  color: var(--hover-color);
}

/* GAME */

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#game-canvas {
  border: 4px solid var(--primary-color);
  border-radius: 15px;
  background: white;
}

/* BUTTONS */

#control-buttons {
  display: flex;
  justify-content: space-between;


  /* GELIJKE BREEDTE ALS CANVAS */
  width: 500px;
}

button {
  width: 90px;
  height: 50px;

  background-color: var(--primary-color);
  border: none;
  border-radius: 25px;

  box-shadow: 0 0.2rem 0 var(--accent-color);

  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  color: var(--font-color);
  margin-top: 10px;

  padding-right: 20px;
  padding-left: 20px;
}

button:hover {
  background-color: var(--hover-color);
  transition: all 0.1s ease-in-out;
}

button:active {
  box-shadow: none;
  transform: translateY(0.3rem);
}

/* LOGO */

#logo-container img {
  width: 500px;
}